.corps{
	font-family: 'Catamaran', sans-serif;
	color: white;
	background-repeat: no-repeat;
	background-size: 100% 120%;
	background: linear-gradient(to right, #00B59C 10%, #ff5722,#00B59C);

}


/*fin entete*/

.form1{
	margin-top: 75px;
	background-color: black;
	height: 600px;
	opacity: 0.7;
}
.form2{
	margin-top: 50px;
}
.form3{
	margin-top: 50px;
}
.rad{
	margin-left: 230px!important;
}
h3{
	text-align: center;
	margin-top: 50px;
	font-weight: bold;
}
.inpt1, .inpt2, .inpt3, .inpt4, .inpt5{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color:transparent!important;
}

.inpt7{

	background-color: transparent;
}
.sel1, .sel2{
	border-top:none!important;
	border-left:none!important;
	border-right:none!important;
	background-color: transparent;
}
.btn1,.btn2,.btn3{
	background: linear-gradient(to right, #ff5722, #00B59C 30%);
	outline: none;
	border:none;
	cursor: pointer;
	border-radius: 20px;
	height: 40px;
	padding: 0px 10px 0px 10px;
	margin-right: 40px;
	font-size: 18px;
	font-weight: bold;
	color:rgb(255,255,255)!important;
}


#im{
	margin-top: 10px; 
	margin-bottom: 10px;
	height: 120px; 
	width: 120px; 
	border-radius: 50px;
}

table{
	color: black!important;
}
@media screen and (max-width: 768px){
	.form1{
	margin-top: -40px;
	
	height: 1000px!important;
	opacity: 0.75;
	}
.corps{
	
	
	background-repeat: no-repeat;
	background-size:cover;
	
}
}
@media screen and (max-width: 1024px){
	.form1{
	margin-top: -40px;
	
	height: 1000px!important;
	opacity: 0.75;
	}
}
